---
import servicios from "../mocks/servicios.json";
---

<aside class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center p-4 bg-gray-100 rounded-lg shadow-md ">
  {
    servicios.serviciosPsicologia.map((servicio) => (
      <a href="" >
      <article class="flex flex-cols gap-1 md:gap-3 border w-[270px] h-[216px] md:w-[380px] md:min-h-[305px] hover:bg-[#C1D8C3] hover:text-black">
          <img src={servicio.img} alt=`imagen de servicio de ${servicio.nombre}` class="w-[150px] md:w-[200px]  object-cover"/>

        <div class="flex flex-col gap-2 md:gap-4 text-[10px] md:text-sm text-center p-1 ">
          <h2 class="text-[14px] md:text-2xl font-bold">{servicio.nombre}</h2>
          <p >Duración: {servicio.duracion}</p>
          <p >Costo: ${servicio.precio} USD</p>
          <div class="flex flex-col md:flex-rows gap-1">
            {servicio.modalidad.map((modalidad) => (
              <p >{modalidad}</p>
            ))}
          </div>
          <button>Clic </button>
        </div>
      </article>
    </a>
    ))
  }
</aso>
